body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #b80753;
}

button {
    background-color: #d40760;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #7a0337;
}

#output {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}